## Assignment 3_ Part 2_Question 2
- Use 'employee_compensation' data set.
- Find the people whose overtime salary is greater than 5% of Salaries (Salaries refers to 'Salaries' Column)
- For each job family these people are associated with (job family refers to 'Job Family' column), calculate what is the percentage of total benefits with respect to total compensation (So for each job family you have to calculate average total benefits and average total compensation). Create a new column (Percent_Total_Benefit) which has the percentage value. 
- **Display** the top 5 job families according to Percent_Total_Benefit **using df.head()**.  
- Write the output (Jobs and Percent_Total_Benefit) to a csv.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/employee_compensation.csv")

In [3]:
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [4]:
df = df[df['Year Type']=='Calendar']

In [5]:
# df.columns

In [6]:
temp_df = round(df.groupby(['Job Family','Employee Identifier'],as_index=False)[['Salaries', 'Overtime', 'Other Salaries',
       'Total Salary', 'Retirement', 'Health/Dental', 'Other Benefits',
       'Total Benefits', 'Total Compensation']].mean(),2)

In [7]:
temp_df.head()

,Job Family,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Administrative & Mgmt (Unrep),2321,291241.18,0.0,0.0,291241.18,57103.36,13071.99,19095.60,89270.95,380512.13
1,Administrative & Mgmt (Unrep),4800,14463.00,0.0,0.0,14463.00,2636.61,1543.37,1857.44,6037.42,20500.42
2,Administrative & Mgmt (Unrep),5547,205073.10,0.0,0.0,205073.10,36761.39,12089.69,29617.84,78468.92,283542.02
3,Administrative & Mgmt (Unrep),5662,128370.20,0.0,0.0,128370.20,23089.55,3601.19,5032.48,31723.22,160093.42
4,Administrative & Mgmt (Unrep),8493,53658.00,0.0,0.0,53658.00,9524.34,4630.10,6796.67,20951.11,74609.11

In [8]:
temp_df['Percent_Overtime'] = round(temp_df['Overtime']/temp_df['Salaries']*100,2)

In [9]:
temp_df.head()

,Job Family,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation,Percent_Overtime
0,Administrative & Mgmt (Unrep),2321,291241.18,0.0,0.0,291241.18,57103.36,13071.99,19095.60,89270.95,380512.13,0.0
1,Administrative & Mgmt (Unrep),4800,14463.00,0.0,0.0,14463.00,2636.61,1543.37,1857.44,6037.42,20500.42,0.0
2,Administrative & Mgmt (Unrep),5547,205073.10,0.0,0.0,205073.10,36761.39,12089.69,29617.84,78468.92,283542.02,0.0
3,Administrative & Mgmt (Unrep),5662,128370.20,0.0,0.0,128370.20,23089.55,3601.19,5032.48,31723.22,160093.42,0.0
4,Administrative & Mgmt (Unrep),8493,53658.00,0.0,0.0,53658.00,9524.34,4630.10,6796.67,20951.11,74609.11,0.0

In [10]:
overtime_df = temp_df[temp_df['Percent_Overtime'] > 5]
overtime_df.head()

,Job Family,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation,Percent_Overtime
90,Administrative-Labor & Trades,5727,123810.36,32152.77,32016.35,187979.47,26494.96,12234.70,10274.59,49004.26,236983.73,25.97
92,Administrative-Labor & Trades,8353,66924.40,59010.01,11629.30,137563.72,15369.26,7708.45,6998.80,30076.52,167640.23,88.17
93,Administrative-Labor & Trades,10523,51481.53,21225.33,32734.07,105440.93,9665.12,5119.45,8446.84,23231.41,128672.34,41.23
97,Administrative-Labor & Trades,13187,55484.00,9646.68,11803.00,76933.68,10114.72,5659.01,2532.30,18306.03,95239.71,17.39
101,Administrative-Labor & Trades,16350,38002.00,4257.90,0.00,42259.90,7072.18,3822.92,3399.41,14294.51,56554.41,11.20

In [11]:
job_family_df = round(overtime_df.groupby(['Job Family'], as_index=False)['Total Benefits','Total Compensation'].mean(),2)

In [12]:
job_family_df.head()

                      Job Family  Total Benefits  Total Compensation
0  Administrative-Labor & Trades        35398.45           162831.63
1     Agriculture & Horticulture        27886.59            94075.71
2              Airport Operation        33661.15           122059.01
3  Budget, Admn & Stats Analysis        22721.52            79834.03
4  Clerical, Secretarial & Steno         7166.98            24424.69

In [13]:
job_family_df['Percent_Total_Benefit']=round((job_family_df['Total Benefits']/job_family_df['Total Compensation'])*100,2)

In [14]:
job_family_df = job_family_df.sort_values(['Percent_Total_Benefit'],ascending=False).reset_index(drop=True)

In [15]:
job_family_df.head()

,Job Family,Total Benefits,Total Compensation,Percent_Total_Benefit
0,Public Service Aide,12081.25,34013.79,35.52
1,Park & Zoo,22168.77,65363.66,33.92
2,Energy & Environment,14254.41,43219.50,32.98
3,Revenue,15629.20,47641.78,32.81
4,Museum & Cultural Affairs,27037.39,83926.07,32.22

In [16]:
# Generate a csv file
job_family_df.to_csv('outputs/job_family.csv', index=False)